.loginForm {
  height: auto;
  width: 320px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 16px;

  border: 2px solid rgb(30, 29, 29);
  border-radius: 8px;

  margin-bottom: 16px;
}

.formInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 80px;
}

.formInput {
  height: 32px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid rgb(30, 29, 29);
}

.errorMessage {
  font-size: 10px;
  color: red;
}

.primaryButton {
  border-radius: 8px;
  border: 2px solid rgb(30, 29, 29);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(229, 226, 226);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
.primaryButton:hover {
  background-color: #cfd5f0;
  border-color: #646cff;
}
.primaryButton:focus,
.primaryButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
