.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid rgb(30, 29, 29);
  border-radius: 4px;
  padding: 16px;

  width: 320px;
}

.deleteBtn {
  padding: 4px 8px;
}

.contactText {
  display: flex;
  align-items: center;
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  color: rgb(30, 29, 29);
}
